<% jobs_running = resque.jobs_running %>

<h1 class='wi'><%= jobs_running.size %> Job(s) Actively Running</h1>
<p class='intro'>The list below contains all jobs currently running.</p>
<table class='workers'>
  <tr>
    <th>Where</th>
    <th>Queue</th>
    <th>Processing</th>
    <th>Site</th>
    <th>Args</th>
  </tr>
  <% if jobs_running.empty? %>
  <tr>
    <td colspan="5" class='no-data'>Nothing is happening right now...</td>
  </tr>
  <% end %>

  <% jobs_running.sort_by { |_w, j| j['run_at'] ? j['run_at'].to_s() : '' }.each do |thread, job| %>
    <tr>
      <% host, pid, _queues = thread.worker.to_s.split(':') %>
      <td class='where'><a href="<%=u "/workers/#{thread.worker}" %>"><%= host %>:<%= pid %></a></td>
      <td class='queues queue'>
        <a class="queue-tag" href="<%=u "/queues/#{job['queue']}" %>"><%= job['queue'] %></a>
      </td>
      <td class='process'>
        <%= partial :processing, :thread => thread, :job => job %>
      </td>
      <td class='site'>
        <%=h long_job_site_id(job.fetch('payload', {}).fetch('args', nil)) %>
      </td>      
      <td class='args'>
        <%=h smart_args(job.fetch('payload', {}).fetch('args', nil)) %>
      </td>
    </tr>
  <% end %>
</table>
